{% extends 'base.html' %}


{% block login %}
<div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
        <div class="content-section" style="margin-top: 10%;">
            <form method="POST" style="margin: 10%;">
                {{ form.hidden_tag() }}
                <h3 class="center">Log In</h3>
                <fieldset class="form-group white">
                    <div class="input-field">
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                        <label for="username">{{ form.username.label(class="form-control-label") }}</label>
                    </div>
                    <div class="input-field">
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                        <label for="password">{{ form.password.label(class="form-control-label") }}</label>
                    </div>
                    <div class="form-check center">
                        <label>
                            {{ form.remember() }}
                            <span>{{ form.remember.label }}</span>
                        </label>
                    </div>
                </fieldset>
                <div class="form-group center" style="margin-top: 20px;">
                    <a class="waves-effect waves-light btn">{{ form.submit(class='white-text') }}</a>
                </div>

                <div class="center">
                    <small class="text-muted">
                        Need An Account? <a class="ml-2" href="{{ url_for('auth.register') }}">Sign Up Now</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock login %}